$primary_color: #039fc6;$secondary_color: #1a1c23;$third_color: #106cc7;$four_color: #ffd200;$link_color: #039fc6;$link_color_hover: #17aac4;$link_color_active: #17e9ed;$gradient_color_from: #039fc6;$gradient_color_to: #28bfb7;
                $body_default_font: Google-Font;
            
                $heading_default_font: Google-Font;
            $var_gradient_color_from: var(--gradient-color-from);$var_gradient_color_to: var(--gradient-color-to);